.search-form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjusts spacing between form fields */
  padding: 1rem; /* Adds padding around the entire form container */

  // .search-field {
  //   flex: 1 1 200px; /* Ensures each field takes up space but is not too narrow */
  //   min-width: 220px; /* Sets a minimum width for each input field */
  // }

  .button-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem; /* Adjusts margin to ensure buttons are well-aligned */
  }
}
