@import "../../../styles.scss";

.mat-header-cell {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "QuattrocentoSans", sans-serif;
  font-size: 14px;
}

.custom-icon {
  color: #fff;
}

.addBtn {
  color: #fff !important;
}
