<app-nav></app-nav>

<!-- Logo centered below the navbar -->
<div class="logo-container">
  <h1>Pumpkin <span class="spice">Spice</span> Season</h1>
</div>

<div class="logo-sub-text">
  <p>Your Go-To Guide for Autumn Inspirations</p>
</div>

<!-- Links centered below the logo with some space -->
<div class="links-container">
  <a href="#" class="nav-link">Home</a>
  <a href="#" class="nav-link">About</a>
  <a href="#" class="nav-link">Fall Stuff</a>
  <a href="#" class="nav-link">Fall Stuff</a>
  <a href="#" class="nav-link">Fall Stuff</a>
  <a href="#" class="nav-link">Fall Stuff</a>
  <a href="#" class="nav-link">Contact</a>
</div>
<app-blog-carousel></app-blog-carousel>
