// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$autumn-blog-ui-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($autumn-blog-ui-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($autumn-blog-ui-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($autumn-blog-ui-theme);
// Reds
$red: #8b2a1c;
$burntRed: #aa4a33;

// Beige/Neutrals
$beige: #c89d6c;
$ltBeige: #d7b180;
$lterBeige: #e3c7a8;
$pinkBeige: #fedfd2;
$dkPinkBeige: #ffb6af;
$navbar: #e5d2c3;

// Orange/Gold
$orangeGold: #f9b238;
$ltGold: #fbc97a;
$ltOrange: #f8995e;
$dkOrange: #f05a23;

// Black
$black: #141414;

@font-face {
  font-family: "Whisper";
  src: url("../src/assets/fonts/Whisper/Whisper-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "VolkornSC";
  src: url("../src/assets/fonts/Vollkorn_SC/VollkornSC-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "QuattrocentoSans";
  src: url("../src/assets/fonts/Quattrocento_Sans/QuattrocentoSans-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  h1 {
    color: $black;
    font-family: "VolkornSC", serif;
  }

  h2 {
    color: $black;
    font-family: "VolkornSC", serif;
  }

  h3 {
    color: $orangeGold;
    font-family: "QuattrocentoSans", sans-serif;
  }

  h4 {
    color: $black;
  }

  h5 {
    color: $black;
    font-family: "QuattrocentoSans", sans-serif;
  }

  h6 {
    color: $black;
  }

  button {
    background-color: $orangeGold !important;
    border: none !important;
  }

  .red-button {
    background-color: $burntRed !important;
    color: #fff !important;
    border: none !important;
  }

  .badge {
    background-color: $orangeGold !important;
    margin: 8px 4px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
