@import "../../../styles.scss";
.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}

.spice {
  color: $orangeGold;
  font-family: "Whisper", cursive;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 35px;
}

.logo-sub-text {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
  font-family: "QuattrocentoSans", sans-serif;
  font-style: italic;
  color: $red;
  opacity: 0.6;
}
.links-container .nav-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "QuattrocentoSans", sans-serif;
  text-transform: uppercase;
  position: relative;
}

.links-container .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 1px;
  background-color: $red;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.links-container .nav-link:hover::after {
  transform: scaleX(1);
  animation: bounce-underline 0.3s ease-in-out;
}

.links-container .nav-link:active::after {
  transform: scaleX(1);
}

@keyframes bounce-underline {
  0%,
  100% {
    transform: scaleX(1) translateY(0);
  }
  50% {
    transform: scaleX(1) translateY(-2px);
  }
}
