<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-text" [routerLink]="isAdminLoggedIn() ? '/dashboard' : '/login'">
      {{ isAdminLoggedIn() ? 'Dashboard' : 'Login' }}
    </a>
    @if (!isAdminLoggedIn()) {
      <a class="navbar-text" [routerLink]="['/register']">Sign Up</a>
    }

    <div class="d-flex ms-auto align-items-center">
      <a href="#" class="me-3">
        <i class="fab fa-facebook custom-icon"></i>
      </a>
      <a href="#" class="me-3">
        <i class="fab fa-twitter custom-icon"></i>
      </a>
      <a href="#" class="me-3">
        <i class="fab fa-instagram custom-icon"></i>
      </a>
      <a href="#" class="me-3">
        <i class="fab fa-tiktok custom-icon"></i>
      </a>
    </div>
  </div>
</nav>
