<div class="container my-4">
  <div class="row justify-content-center">
    <div class="text-center">
      <img src="../../../assets/images/stef.png" class="img-fluid mb-3" alt="Stef's Photo" />
      <h2 class="h4 mb-2">Hi, I'm Stef!</h2>
      <p class="text-muted">
        I'm a software developer who created this blog as a project to celebrate one of my favorite things: fall and autumn. Through this blog, I aim to share my passion for the season and all the beauty it brings. Enjoy exploring!
      </p>
    </div>
  </div>
</div>
